<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
<table border="0" cellpadding="15" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" bgcolor="#ced9a7" valign="middle">
				<table bgcolor="#2b302d" border="0" cellpadding="0" cellspacing="2" width="600">
					<tbody>
						<tr>
							<td align="left" bgcolor="#FFFFFF" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td align="center">
												Having trouble viewing this email? You can <a href="{mailing.viewUrl}">see it on the web</a>.</td>
										</tr>
										<tr>
											<td align="left" background="https://ptp.ourpowerbase.net/files/images/email_templates/header3.gif" bgcolor="#164d65" height="110" style="padding-left:10px; padding-right:10px; font-family: Georgia, Times New Roman, Times, serif; color:#FFFFFF;" valign="middle">
												<div align="right" style="font-size:12px;">
													Month Year</div>
												<div style="font-size:40px;">
													Org Newsletter Title</div>
												<div style="font-size:18px;">
													Org Newsletter Subtitle here</div>
											</td>
										</tr>
										<tr>
											<td align="left" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="596">
													<tbody>
														<tr>
															<td align="left" bgcolor="#d2e7e0" style="padding:10px;" valign="top" width="182">
																<span style="font-size:15px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;">In This Issue</span><br />
																<span style="font-size:11px;font-weight:normal;color:#333333;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;"><a href="#1" style="color:#579b12;"><b>Newsletter Article 1</b> </a><br />
																<a href="#2" style="color:#579b12;"><b>Newsletter Article 2</b> </a><br />
																<a href="#3" style="color:#579b12;"><b>Newsletter Article 3</b></a><a href="#" style="color:#579b12;"><br />
																</a></span><br />
																<span style="font-size:15px;font-weight:bold;color:#006699;font-family: Verdana, Arial, Helvetica, sans-serif;line-height:150%;">Featured Article </span><br />
																<span style="font-size:11px;font-weight:normal;color:#333333;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:130%;"> The links in this column, above, are just internal links. When someone clicks on them it takes them to different places within this page. Each link is going to a different section, which is identified by the name tag. "#1" in the first link above will take you to the section that has been identified by the name="1" anchor tag.</span><br />
																<br />
																<span style="font-size:15px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;">Upcoming Event </span><br />
																<span style="font-size:11px;font-weight:normal;color:#333333;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:130%;">The links below, in this column, need to be configured to send people to different pages on your website. Since PowerBase will track the links in this email that people click, you can see if there are parts of your website that people are interested in viewing. Please put in a full url (http://www.website.org) when replacing links.<br />
																<b> Date:<br />
																Time:<br />
																Location:</b></span><br />
																<br />
																<span style="font-size:15px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;">Useful Links</span><br />
																<span style="font-size:11px;font-weight:normal;color:#333333;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;"> <a href="#" style="color:#579b12;"><b>About Us</b></a><br />
																<b> <a href="#" style="color:#579b12;">Our Services</a><br />
																<a href="#" style="color:#579b12;">Our Features</a><br />
																<a href="#" style="color:#579b12;">Press Room</a></b></span></td>
															<td align="left" style="padding:15px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; line-height:130%;" valign="top" width="414">
																<span style="font-size:18px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;">Hello and Welcome</span><br />
																<br />
																Dear PowerBase user,<br />
																This is a generic email template being offered by the PowerBase program. You may edit this template in many different ways and can update this template or save it as another template. If you wish, you can also create a brand new template. Our recommendation is to search for free html email templates online and then adapt them to your needs in here. Please remember, before you paste in the html code you need to click on the Source button, so that this system can properly format your template.<br />


Another thing to note is links. Your links need a full url: http://www.website.org in order for them to work properly.If you are in "Source" mode, it is easier to see what this means. The user interface, though, will allow you to right-click on a link and edit the link very easily. <a href="#" style="color:#569b11;"><b>read more&gt;</b></a><br />
																<br />
																<span style="font-size:18px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;"><a name="1"></a>Newsletter Article 1 </span><br />
																<img alt="First image" src="https://ptp.ourpowerbase.net/files/images/email_templates/pic1.gif" style="margin-right: 10px; float: left; width: 128px; height: 99px;" />We also need to address images. Images add a lot to an email. Your email also needs to look good without the images, as there are many people who view their email without images. In order to use an image in this template, it needs to be online somewhere. You can use the user interface to place an image on the server that hosts your database (the picture icon on the toolbar). You can also use the complete url of an image that is already accessible via the internet. <a href="#" style="color:#569b11;"> <b>read more&gt;</b></a><br />
																<b> </b><br />
																<span style="font-size:18px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;"><a name="2"></a>Newsletter Article 2 </span><br />
																<img alt="Second image" src="https://ptp.ourpowerbase.net/files/images/email_templates/pic2.gif" style="margin-right: 10px; float: left; width: 128px; height: 99px;" />Lorem ipsum dolor sit amet consectetuer adipiscing elit. Donec dolor. Vestibulum rsus sapien vel rutrum ultrices tortor rem lputate turpis sed semper elit felis nec ligula. Mimas id ante. In commodo. mas bibendum viverra massa. Integer nulla urna porttitor eget uam placerat feugiat orci. Phasellus tellus pede pulvinar et scelerisque a tempor a velit. Morbi feugiat. Etiam ut elit ac metus facilisis fermentum. abitur magna magna elemtum ntum placerat vel mmodo vel tortor. Sed justo. Ut a orci ut arcu molestie pretium. Donec a mauris. Nullam vitae urna. Integer suscipit <a href="#" style="color:#569b11;"><b>read more&gt;</b></a><br />
																<br />
																<span style="font-size:18px;font-weight:bold;color:#006699;font-family:Verdana, Arial, Helvetica, sans-serif;line-height:150%;"><a name="3"></a>Newsletter Article 3 </span><br />
																<img alt="Third image" src="https://ptp.ourpowerbase.net/files/images/email_templates/pic3.gif" style="margin-right: 10px; float: left; width: 129px; height: 98px;" />Lorem ipsum dolor sit amet consectetuer adipiscing elit. Donec dolor. Vestibulum cursus sapien vel rutrum ultrices tortor lorem vulputate turpis sed semper ligula felis nec ligula. Mimas id ante. In mmodo. Mimas bibendum viverra massa. Integer nulla urna porttitor eget aliquam vel cro placerat feugiat orci. Phasellus tellus pede pulvinar et scele risq tempor a velit. Morbi feugiat. Etiam ut elit ac metus facilisis entum. Curabitur magna magna elementum fermentum placerat vemodo vel tortor. Sed justo. Ut a orci ut arcu molestie pretium. Donec a mauris. Nullam vitae urna. <a href="#" style="color:#569b11;"><b>read more&gt;</b></a><br />
																&nbsp;
																<p>
																	&nbsp;</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td align="left" bgcolor="#2b302d" valign="top">
												<table border="0" cellpadding="10" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td align="left" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF;" valign="top">
																<p>
																	<font face="trebuchet ms" size="2">{domain.name}<br />
																	{domain.address}<br />
																	<br />
                                  Thanks for choosing to receive email from OUR ORG. If you'd like to unsubscribe from mailings to this list, <a href="{action.unsubscribeUrl}">click here</a>. If you'd like us to remove your email address from <b>all email lists at ORG NAME</b> click here <a href="{action.optOutUrl}">click here</a> but note that it will mean you will need to let us know if you want to receive email from ORG NAME in the future. This email was sent to {contact.email}. To ensure that you continue receiving our emails, please add us to your address book or safe list.
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
