<p align="center"><img alt="" src="https://ptp.ourpowerbase.net/sites/ptp.ourpowerbase.net/files/civicrm/persist/contribute/images/ptpweblogo.jpg" style="width: 316px; height: 145px;" /></p>

<p>{contact.display_name}<br />
{contact.street_address}<br />
{contact.city}, {contact.state_province} {contact.postal_code}</p>

<p>{contact.postal_greeting}</p>

<p>Thank you for your recent payment on {contribution.receive_date} in the amount of {contribution.total_amount} at&nbsp;{contribution.contribution_source} in support of {contribution.campaign}</p>

<p>&nbsp;</p>

<p>Sincerely,</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
