<div style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-align: left; border:1px solid black; width:100%; padding: 25px; margin: 0px;">
<p align="center"><img alt="" src="https://ptp.ourpowerbase.net/sites/ptp.ourpowerbase.net/files/civicrm/persist/contribute/images/ptpweblogo.jpg" style="width: 316px; height: 145px; float: left;" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px;">{contact.display_name}<br />
{contact.street_address}<br />
{contact.city}<font face="Verdana, Geneva, sans-serif" style="font-size: 12px">, </font>{contact.state_province}<font face="Verdana, Geneva, sans-serif" style="font-size: 12px"> </font>{contact.postal_code}<font face="Verdana, Geneva, sans-serif" style="font-size: 12px">-</font>{contact.postal_code_suffix}</span></p>

<p>{contact.postal_greeting}</p>

<p>Thank you for your recent payment on {contribution.receive_date} in the amount of {contribution.total_amount} at&nbsp;{contribution.contribution_source} in support of {contribution.campaign}</p>

<p>&nbsp;</p>

<p>Sincerely,</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</div>
