# This is a bash file that should be sourced.

# Path to share files (standard /usr/share/longshore)
LONG_SHARE=/srv/longshore/share

# Path to store variable data (standard /var/lib/longshore/)
LONG_VAR=/srv/longshore

# Path for user generated data (standard /srv/longshore/)
LONG_SRV=/srv/longshore

# Path to etc files (standard /etc/longshore)
LONG_ETC=/srv/longshore/etc

# SIBLINGS list any sibling servers  
#LONG_SIBLINGS="nicolas juana olivera chico"
LONG_SIBLINGS=""

LONG_WARNING_EMAIL="pb-alert-warning@progressivetech.org"
LONG_CRITICAL_EMAIL="pb-alert-critical@progressivetech.org"

LONG_DEFAULT_LOG_LEVEL=error
LONG_DEFAULT_LOG_DRIVER=journald

LONG_NON_PRODUCTION_REGEXP="^(clone|sandbox|demo|training|henry|tomas|mark|alice|grits|bacon|granola)"
LONG_DEFAULT_PLATFORM=ourpowerbase-d7-c4.6
LONG_DEFAULT_DOMAIN=animal

# When setting up web sites, should we enable https?
LONG_HTTPS_ENABLED=n

# Allow us to override how drush is invoked using the LONG_DRUSH_ARGS
# environment variable.
LONG_DRUSH="/usr/bin/drush $LONG_DRUSH_ARGS"

# phpmyadmin URL
LONG_PHPMYADMIN_URL=p1.ourpowerbase.net

# Path to nginx sites-enabled directory
LONG_NGINX_SITES_ENABLED=/etc/nginx/sites-enabled

# Whether or not this is a live server as opposed to a local dev instance
LONG_LIVE=n

# Path to tls related files  for nginx (optional)
# If you comment out these variables, then https won't be enabled.
# LONG_TLS_KEY_PATH=/etc/ssl/private/wildcard.ourpowerbase.net.key
# LONG_X509_CERT_PATH=/etc/ssl/wildcard.ourpowerbase.net.crt
# LONG_DH_PARAM_PATH=/etc/ssl/dhparam.pem
# This path holds the generic nginx tls configuration.
# LONG_NGINX_TLS_PATH=/etc/nginx/tls.conf

# Indicate the starting port that MySQL containers should listen on from 
# the host. The first MySQL db will use this port. The next will use this
# port + 1, etc.
LONG_MYSQL_START_PORT=10000

# Indicate the starting port that PHP containers should listen on from 
# the host. The first PHP container will use this port. The next will use this
# port + 1, etc.
LONG_PHP_START_PORT=11000

# The public IP address of the host computer
LONG_IP_ADDR=

# The command used to manage IMAP user accounts. Set to /bin/true to
# disable configuring IMAP users. Or set to: sudo /usr/local/sbin/opb-manage-user
# to set it up locally (be sure to add sudo privs for the longshore user)
# or set to "ssh longshore@augusto.mayfirst.org sudo /usr/local/sbin/opb-manage-user"
# to enable remote execution on a remote server (be sure to configure ssh
# access on the remote server).
LONG_MANAGE_IMAP_USER_CMD=/bin/true

# The host to configure CiviCRM to connect to when checking IMAP commands.
# If LONG_MANAGE_IMAP_USER_CMD is set to /bin/true then this variable
# will never be used. Otherwise, it will be used MailSettings "server"
# in CiviCRM.
LONG_IMAP_HOST=civimail.ourpowerbase.net

# The command used to generate DKIM keys. Set to /bin/true to
# disable configuring DKIM. Or set to: sudo /usr/local/bin/longshore-dkim-generator
# to set it up locally (be sure to add sudo privs for the longshore user)
# or set to "ssh longshore@marti.mayfirst.org sudo /usr/local/bin/longshore-dkim-generator"
# to enable remote execution on a remote server (be sure to configure ssh
# access on the remote server).
LONG_GENERATE_DKIM_CMD=/bin/true

# If the host supports it, you can set a default memory limit for each
# container (you have to edit /etc/default/grub and add GRUB_CMDLINE_LINUX="cgroup_enable=memory"
LONG_DOCKER_MEMORY_LIMIT="-m 1GB"

# Set the name of the local user on the host. We have to ensure this user
# has proper permissions.
LONG_HOST_USER=longshore

# Set the value that error reporting should be set to. Usually either 
# E_ERROR on production or E_ALL on dev.
LONG_ERROR_REPORTING=E_ERROR

# Set our Yahoo api key values
LONG_YAHOO_BOSS_API_KEY=""
LONG_YAHOO_BOSS_API_SECRET=""

LONG_SIBLING_CACHE=~/.long-sibling-cache

# Only used on dev sites - the host used when getting info about a site.
# LONG_DEFAULT_HOST=neruda

# Set to IP of mysql dedicated kvm guest.
LONG_MYSQL_HOST_IP=172.17.0.1

LONG_OUTBOUND_MAIL_HOST=newyork.bulk.ourpowerbase.net
