# This is a bash file that should be sourced.

# Path to share files (standard /usr/share/longshore)
LONG_SHARE=/srv/longshore/share

# Path to store variable data (standard /var/lib/longshore/)
LONG_VAR=/srv/longshore

# Path for user generated data (standard /srv/longshore/)
LONG_SRV=/srv/longshore

# Path to etc files (standard /etc/longshore)
LONG_ETC=/srv/longshore/etc

# FRONTENDS: frontend-kvm:host:number
# the number is used in the phpmyAdmin URLs (e.g. p1.ourpowerbase.net)
LONG_LIVE_FRONTENDS="nicolas:ramona:1 juana:severo:2 olivera:victoria:3 chico:gabriela:4"

LONG_DEBUG_EMAIL="jamie@progressivetech.org"
LONG_DEFAULT_LOG_LEVEL=error

LONG_NON_PRODUCTION_REGEXP="^(restore|clone|test|sandbox|demo|training[123]|robyn|josue|tomas|mark|alice|f|grits|bacon|spanish)"
LONG_DEFAULT_PLATFORM=ourpowerbase-d7-c4.5
LONG_DEFAULT_DOMAIN=animal
LONG_DEFAULT_DB=db01

# When setting up web sites, should we enable https?
LONG_HTTPS_ENABLED=n

# Allow us to override how drush is invoked using the LONG_DRUSH_ARGS
# environment variable.
LONG_DRUSH="/usr/bin/drush $LONG_DRUSH_ARGS"

# When setting up web sites, should we enable https?
LONG_HTTPS_ENABLED=n

# phpmyadmin URL
LONG_PHPMYADMIN_URL=p1.ourpowerbase.net

# Path to nginx sites-enabled directory
LONG_NGINX_SITES_ENABLED=/etc/nginx/sites-enabled

# Whether or not this is a live server as opposed to a local dev instance
LONG_LIVE=n
